.internal-link-container > .note-preview {
  display: none; 
  position: absolute; 
  left: 0; 
  z-index: 50; 
  width: 350px;
  text-align: left !important;
  line-height: normal !important;
  letter-spacing: normal !important;
}

.internal-link-container > .internal-link:hover + .note-preview {
  display: block;
}
.internal-link-container {
  position: relative;
}
.internal-link:hover {
  text-decoration: underline;
}
.internal-link {
  border-radius: 0.25rem;
  color: #0969da;
  background-color: rgb(243 250 251) !important;
}

/* Typography */
.h1 {
  font-size: 2.25rem;
  line-height: 2.5rem; 
  font-weight: 800; 
  line-height: 1.25; 
}

.h2 {
  font-size: 1.875rem;
  line-height: 2.25rem; 
  font-weight: 800; 
  line-height: 1.25; 
}

.h3 {
  font-size: 1.875rem;
  line-height: 2.25rem; 
  font-weight: 700;
}

.h4 {
  font-size: 1.5rem;
  line-height: 2rem; 
  font-weight: 700; 
  line-height: 1.375;  
}

@screen md {
    .h1 {
      font-size: 3rem;
      line-height: 1;
    }

    .h2 {
      font-size: 2.25rem;
      line-height: 2.5rem;
    }
}


/* Buttons */
.btn,
.btn-sm {
  display: inline-flex; 
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform; 
  transition-duration: 150ms; 
  font-weight: 500; 
  line-height: 1.375; 
  justify-content: center; 
  align-items: center; 
  border-radius: 0.25rem; 
  border-width: 1px; 
  border-color: transparent;
}

.btn {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem; 
  padding-left: 2rem;
  padding-right: 2rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
}

.btn-sm {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; 
  padding-left: 1rem;
  padding-right: 1rem;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06); 
}

/* Hamburger button */
.hamburger svg>*:nth-child(1),
.hamburger svg>*:nth-child(2),
.hamburger svg>*:nth-child(3) {
    transform-origin: center;
    transform: rotate(0deg);
}

.hamburger svg>*:nth-child(1) {
    transition: y 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), opacity 0.1s ease-in;
}

.hamburger svg>*:nth-child(2) {
    transition: transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger svg>*:nth-child(3) {
    transition: y 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), width 0.1s 0.25s ease-in;
}

.hamburger.active svg>*:nth-child(1) {
    opacity: 0;
    y: 11;
    transform: rotate(225deg);
    transition: y 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), opacity 0.1s 0.12s ease-out;
}

.hamburger.active svg>*:nth-child(2) {
    transform: rotate(225deg);
    transition: transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger.active svg>*:nth-child(3) {
    y: 11;
    transform: rotate(135deg);
    transition: y 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), width 0.1s ease-out;
}
